// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin-bottom: 0.5rem;
//   font-family: inherit;
//   font-weight: 500;
//   line-height: 1.2;
//   color: inherit;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin-top: 0;
//   margin-bottom: 0.5rem;
// }

// .h3,
// h3 {
//   font-size: 1.75rem;
// }

// .h5,
// h5 {
//   font-size: 1.25rem;
// }

// // PARAGRAPH
// p {
//   margin-top: 0;
//   margin-bottom: 1rem;
// }
