// // Margin
// .m-auto {
//   margin: auto !important;
// }

// .mr-auto,
// .mx-auto {
//   margin-right: auto !important;
// }

// .ml-auto,
// .mx-auto {
//   margin-left: auto !important;
// }

// .mt-4,
// .my-4 {
//   margin-top: 1.5rem !important;
// }

// .mb-4,
// .my-4 {
//   margin-bottom: 1.5rem !important;
// }

// .mt-sm-0,
// .my-sm-0 {
//   margin-top: 0 !important;
// }
// // PADDING
// .p-4 {
//   padding: 1.5rem !important;
// }

// // SHADOW
// .shadow-sm {
//   box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
// }

// .shadow {
//   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
// }
// .rounded {
//   border-radius: 0.25rem !important;
// }
// .bg-white {
//   background-color: #fff !important;
// }
