/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/* // COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem; */
@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor; }

.btn > *:first-child {
  margin-right: 1rem; }

.btn {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 10rem;
  border: none;
  padding: 1.3rem 3rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s; }

.likes {
  position: relative;
  align-self: stretch; }
  .likes__field {
    cursor: pointer;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s; }
    .likes__field:hover {
      background-color: #f2efee; }
  .likes__icon {
    height: 3.75rem;
    width: 3.75rem;
    fill: #f59a83; }
  .likes__panel {
    position: absolute;
    right: 0;
    top: 10rem;
    z-index: 10;
    padding: 2rem 0;
    width: 34rem;
    background-color: #fff;
    box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s 0.2s; }
  .likes__panel:hover,
  .likes__field:hover + .likes__panel {
    visibility: visible;
    opacity: 1; }

.likes__list {
  list-style: none; }

.likes__link:link,
.likes__link:visited {
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none; }

.likes__link:hover {
  background-color: #f9f5f3;
  transform: translateY(-2px); }

.likes__link--active {
  background-color: #f9f5f3; }

.likes__fig {
  height: 5.5rem;
  flex: 0 0 5.5rem;
  /* width: 5.5rem; */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2rem;
  position: relative;
  backface-visibility: hidden; }

.likes__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  opacity: 0.4; }

.likes__fig img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.likes__name {
  font-size: 1.3rem;
  color: #f59a83;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.3rem; }

.likes__author {
  font-size: 1.1rem;
  color: #968b87;
  text-transform: uppercase;
  font-weight: 600; }

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #655a56;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw); }

.container {
  max-width: 120rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1.1fr 2fr 1.1fr;
  grid-template-areas: "head head head"; }

.header {
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f5f3; }
  .header__logo {
    height: 4.5rem;
    margin-left: 4rem; }

.search {
  padding-left: 3rem;
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center; }
  .search__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem; }
