.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}
.btn > *:first-child {
  margin-right: 1rem;
}

.btn {
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-secondary
  );
  border-radius: 10rem;
  border: none;
  padding: 1.3rem 3rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
