button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: Courier, monospace;
  font-size: 20px;
  color: white;
  background: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  &:hover {
    filter: brightness(95%);
  }
  &:active {
    transform: scale(0.98);
  }
  &:disabled {
    cursor: default;
    filter: brightness(30%);
  }

  @include respond(tab-port) {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}
