.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}
.btn > *:first-child {
  margin-right: 1rem;
}

.btn {
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-secondary
  );
  border-radius: 10rem;
  border: none;
  padding: 1.3rem 3rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.btn-inline {
  color: #f59a83;
  font-size: 1.2rem;
  border: none;
  background-color: #f9f5f3;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.btn-inline svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  margin: 0 0.2rem;
}
.btn-inline span {
  margin: 0 0.4rem;
}
.btn-inline:hover {
  color: #f48982;
  background-color: #f2efee;
}
.btn-inline:focus {
  outline: none;
}

.btn-tiny {
  height: 1.75rem;
  width: 1.75rem;
  border: none;
  background: none;
  cursor: pointer;
}
.btn-tiny svg {
  height: 100%;
  width: 100%;
  fill: #f59a83;
  transition: all 0.3s;
}
.btn-tiny:focus {
  outline: none;
}
.btn-tiny:hover svg {
  fill: #f48982;
  transform: translateY(-1px);
}
.btn-tiny:active svg {
  fill: #f48982;
  transform: translateY(0);
}
.btn-tiny:not(:last-child) {
  margin-right: 0.3rem;
}
