.results,
.likes {
  padding: 3rem 0;
}

.likes {
  position: relative;
  align-self: stretch;
  padding: 0 !important;
  &__field {
    cursor: pointer;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s;
    &:hover {
      background-color: #f2efee;
    }
  }
  &__icon {
    height: 3.75rem;
    width: 3.75rem;
    fill: #f59a83;
  }
  &__panel {
    position: absolute;
    right: 0;
    top: 10rem;
    z-index: 10;
    padding: 2rem 0;
    width: 34rem;
    background-color: #fff;
    box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s 0.2s;
  }
  &__panel:hover,
  &__field:hover + &__panel {
    visibility: visible;
    opacity: 1;
  }
}
.results__list,
.likes__list {
  list-style: none;
}

.results__link:link,
.results__link:visited,
.likes__link:link,
.likes__link:visited {
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}

.results__link:hover,
.likes__link:hover {
  background-color: #f9f5f3;
  transform: translateY(-2px);
}

.results__link--active,
.likes__link--active {
  background-color: #f9f5f3;
}

.results__fig,
.likes__fig {
  height: 5.5rem;
  flex: 0 0 5.5rem;
  /* width: 5.5rem; */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2rem;
  position: relative;
  backface-visibility: hidden;
}

.results__fig::before,
.likes__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  opacity: 0.4;
}

.results__fig img,
.likes__fig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.results__name,
.likes__name {
  font-size: 1.3rem;
  color: #f59a83;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.results__author,
.likes__author {
  font-size: 1.1rem;
  color: #968b87;
  text-transform: uppercase;
  font-weight: 600;
}

.results__pages {
  margin-top: 3rem;
  padding: 0 3rem;
}
.results__pages::after {
  content: "";
  display: table;
  clear: both;
}
.results__btn--prev {
  float: left;
  flex-direction: row-reverse;
}
.results__btn--next {
  float: right;
}
