.navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
  font-size: 24px;

  &-items {
    display: flex;
    gap: 10px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    font-family: Oswald, sans-serif;
    a {
      margin-right: 25px;
      color: var(--primary-color);
      text-decoration: none;
      border-bottom: 3px solid transparent;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;
      &:hover,
      &:focus {
        color: var(--on-background);
        border-bottom: 3px solid;
      }
    }
  }
  &-mode {
    display: flex;
    gap: 20px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    i {
      font-size: 30px;
    }
  }
}
