.navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  font-family: Oswald, sans-serif;
  z-index: 10;
  &-items {
    display: flex;
    gap: 3rem;
    font-size: 2.5rem;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      color: var(--primary-color);
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 3px;
    }
  }
  &-mode {
    display: flex;
    gap: 2rem;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    .toggle-text {
      font-size: 2rem;
    }
    i {
      font-size: 2.5rem;
    }
  }
}
