.budget {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/back.png") center center/cover;
  height: 40vh;
  color: white;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row-gap: 1.5rem;
  grid-template-columns: 38rem;

  &__title {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 300;
  }

  &__value {
    font-size: 5rem;
    justify-self: center;
    font-weight: 300;
  }

  &__income,
  &__expense {
    padding: 1.5rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    &--percentage {
      width: 3.25rem;
      background: rgba(255, 255, 255, 0.2);
      font-size: 1.3rem;
      border-radius: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.25rem;
    }
  }
  &__income {
    background-color: #28b9b5;
    &--text {
      font-size: 1.6rem;
      color: black;
    }
    &--percentage {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__expense {
    background-color: #ff5049;
    &--text {
      font-size: 1.6rem;
      color: black;
    }
  }
}

.right {
  display: flex;
  font-size: 1.6rem;
  align-items: center;

  & > :first-child {
    margin-right: 1rem;
  }
}

:placeholder-shown {
}
