/* .title-input {
  border: 1px solid #dedfe0;
  font-size: 2rem;
  font-weight: 300;
  display: block;
  margin: 2.4rem 0;
  padding: 0.8rem;
  width: 100%;
}

.body-input {
  border: 1px solid #dedfe0;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  display: block;
  margin: 2.4rem 0;
  min-height: 15rem;
  padding: 0.8rem;
  width: 100%;
} */

.list-item {
  text-decoration: none;
  color: #fafafa;
  cursor: pointer;
  background: #353239;
  border: 1px solid #423e47;
  margin: 1.6rem 0;
  padding: 1rem 1.6rem;
  display: block;
  transition: background 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    display: flex;
    font-size: 1.8rem;
    font-weight: 300;
    align-items: baseline;

    & > *:first-child {
      margin-right: 0.8rem;
    }
  }
  &:hover {
    background: #3d3941;
  }
  &__title {
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
  }
  &__subtitle {
    color: #666;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
  }
}

.list-title {
  margin: 3.2rem 0 1.6rem;
}

.empty-message {
  margin: 3.2rem 0;
}
