.recipe {
  background-color: #f9f5f3;
  border-top: 1px solid #fff;
  &__fig {
    height: 30rem;
    position: relative;
    transform: scale(1.04) translateY(-1px);
    transform-origin: top;
    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
      opacity: 0.6;
    }
  }
  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #fff;
    font-weight: 700;
    font-size: 2.75rem;
    text-transform: uppercase;
    width: 70%;
    line-height: 1.95;
    text-align: center;
    & span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
    }
  }

  /* Recipe Details */
  &__details {
    display: flex;
    align-items: center;
    padding: 8rem 3rem 3rem 3rem;
  }
  &__info {
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 4rem;
    }
    &-icon {
      height: 2rem;
      width: 2rem;
      fill: #f59a83;
      margin-right: 1rem;
    }
    &-data {
      margin-right: 0.4rem;
      font-weight: 600;
    }
    &-buttons {
      display: flex;
      margin-left: 1.5rem;
      visibility: hidden;
      opacity: 0;
      transform: translateY(5px);
      transition: all 0.4s;
    }
  }
  &:hover &__info-buttons {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  &__love {
    background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
    margin-left: auto;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      transform: scale(1.07);
    }
    &:focus {
      outline: none;
    }
    & svg {
      height: 2.75rem;
      width: 2.75rem;
      fill: #fff;
    }
  }
}
