.story {
  &__pictures {
    background-color: $color-primary;
    grid-column: full-start / col-end 4;

    @include respond(tab-port) {
      grid-column: 1/-1;
      padding: 6rem;
    }

    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.5)
      ),
      url(../img/back.jpg);
    background-size: cover;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }

  &__img--1 {
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    @include respond(tab-port) {
      grid-column: 1 / 5;
      grid-row: 1 / -1;
    }

    box-shadow: 0 2rem 5rem rgba(#000, 0.1);
  }

  &__img--2 {
    width: 100%;
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    @include respond(tab-port) {
      grid-row: 1 / -1;
      width: 100%;
    }

    z-index: 20;
    box-shadow: 0 2rem 5rem rgba(#000, 0.2);
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;
    @include respond(tab-port) {
      grid-column: 1/-1;
      grid-row: 5/6;
    }

    padding: 6rem 8vw;

    /*
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        */

    display: grid;
    align-content: center;
    justify-items: start;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
